
@{

	ViewBag.Title = "Index";

	Layout = null;

}

<div class="container">


		<div class="row">

			<div class="col-sm-12 col-md-12">

				<div class="alert-message alert-message-danger">

					<h1>

						¡Permiso denegado!

					</h1>

					<p class="textError">

						No tienes los permisos necesarios para acceder a este contenido. <br />

						<strong>Póngase en contacto con el administrador del sistema</strong>.

					</p>

				</div>

			</div>

		</div>


</div>
